// Заголовки, загальні БЕМ блоки та інше...
html{
    scroll-behavior: smooth;
}

/*   Common styles    */

[class*="__container"] {
    max-width: 1440px;
    padding: 0rem 1.177rem;
    @media (max-width: 768px) {
        max-width: 768px;
    }
}

.title > h2{
    
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;

    color: #0C0C0E;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 100% */
letter-spacing: 2px;
text-transform: capitalize;
    
}

.title > h2::before{
    content: '';
    position: absolute;
    bottom:  -1.16rem;
    left: 50%; /* Set left to 50% */
    transform: translateX(-50%); /* Adjust position to center the line */
    height: rem(1);
    width: 2.9rem;
    background-color: #000;

    @media (max-width: $tablet) {
        left: 50%; /* Set left to 50% */
        transform: translateX(-50%); /* Adjust position to center the line  The transform: translateX(-50%) is used to adjust the position of the line to center it precisely within the container.*/
    }
}

.title:not(:last-child){
    margin: 0rem 0rem 3.43rem;
}
button.common-button {
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    width: 4.4rem;
    height: 1.8rem;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: rem(10);
    font-weight: 700;
    line-height: normal;
    transition: all 0.4s ease 0s;

    &:not(.disabled):hover{
        background-color: #BB945F;
        border: 1px solid #BB945F;
    }
    &.active-own{
        border: 1px solid #BB945F;
        cursor: default;
    }
}

.form__button,
.button{
    &:hover{
        background-color: #BB945F;
        border: 1px solid #BB945F;
    }
}
.subtitle {
    // text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: rem(40);
    letter-spacing: -0.03em;
    &:not(:last-child){
        margin-bottom: 1.1rem;
}
}
img{
    width: 100%;
}


/*   WELCOME SECTION   */

.page {

    // .page__main

    &__main {
    }
}
.main-block {

    &:not(:last-child){
        margin-bottom: 1.1rem;
    }
    &__container {
        padding: rem(0) rem(0);
        background: url("../img/image/Welcome.jpg") center / cover no-repeat;
        background-size: cover;
        @media (max-width: 768px) {
            padding: rem(0);
            background: url("../img/image/Welcome-tablet.jpg") 0 0 no-repeat;
        }
    }

    // .main-block__body

    &__body {
        padding: rem(200) rem(0) rem(150.6);

        position: relative; 
        @media (max-width: 768px){
            // padding: 13rem 0rem 9.33rem;
        }
    }
    &__overlay{
        background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
        min-height: rem(300);
        position: absolute;
        width: 100%;
        top: 0;
        left:0;
        z-index: 3;
    }

    // .main-block__welcome

    &__welcome {
        position: relative;
        z-index: 4;
        // margin-top: 220px;
        background: #0C0C0E;
        max-width: rem(565);
        padding: rem(33) rem(38);
        color: #FFF;
        text-align: center;
        font-family: Forum;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px; /* 125% */
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}





// Section .page__about SLIDER

.page {

		// .page__about

		&__about {
            &:not(:last-child){
                margin-bottom: 3.3rem;
            }
            // @media (max-width: 768px){
            //     margin-bottom: 3.1rem
            // }
        }
}
.about-block {

        &__subtitle{
            text-align: center;
        }
        &__carousel {
            display: flex;
            gap: 25px;
            white-space: nowrap;
            font-size: 0rem;
            cursor: pointer;
            overflow: hidden;
            scroll-behavior: smooth;
            &:not(:last-child) {
                margin-bottom: 36px;
                @media (max-width: 965px) {
                    margin-bottom: 20px;
                }
            }
            @media screen and (max-width: 1430px) {
                max-width: 950px;
                margin: 0px auto;
            }
            @media (max-width: 965px) {
                max-width: 450px;
                margin: 0px auto;
            }
            & img{
                flex: 0 1 calc(100% / 3);
                width: 450px;
                object-fit: cover;
                height: 560px;
            
                @media screen and (max-width: 1430px) {
                    flex: 0 1 calc(100% / 2);
                    width: 450px;
                }
                @media (max-width: 965px) {
                    flex: 0 1 100%;
                    width: 450px;
                    margin: 0px auto;
                }
            }
            
            
       &__pagination {
        
        }
        
    }
    &__sliders{
        position: relative;
    }
    &__slider{
        display: none;
        @media (max-width: 965px) {
                display: inline-flex;
                position: absolute;
                // top: calc(50% - 14px);
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                background: transparent;
                transition: all 0.5s ease;  

                &.slider--forward {
                    right: 8%;
                }
                &.slider--back{
                    left: 8%;
                }
                & img{
                    margin: 0px auto;
                    width: auto;
                }
                &.arrow-disabled{
                    opacity: 0.5;
                    cursor: not-allowed;
                    pointer-events: none;
                }
        }
        @media (max-width: 660px) {
            display: none;
        }
    }
}
  
.pagination {
       
		// .pagination__body

		&__body {
            margin: 0px auto;
            width: 78px;
            height: 26px;
            display: flex;
            justify-content: space-between;
            @media (max-width: 1430px) {
                width: 130px;
            }

		}

		// .pagination__cover

		&__cover {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 26px;
            height: 26px;
            background: transparent;
            row-gap: 10px;
            &.cover--mobile{
                display: none;
                @media (max-width: 1430px) {
                    display: inline-flex;
                }
            }
		}

		// .pagination__item

		&__item {
            display: inline-flex;
            width: 16px;
            height: 16px;
            background-color:black;
            border-radius: 50%;
            &.active{
                background-color: #BB945F;
            }
		}
}


/*  FAVORITE SECTION  */

.page {

    // .page__favorite
    &__favorite {
        &:not(:last-child){
            margin-bottom: 3.5rem; 
            @media (max-width: $tablet) {
                margin-bottom: 3.7rem; 
            }
        }
        
    }
}
.favorite-block {
  
    &__container {
        padding: rem(0) rem(20);
    }

    // .favorite-block__body

    &__body {
    }

    // .favorite-block__title

    &__title {
    }

    // .favorite-block__subtitle

    &__subtitle{
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.03em;

        &:not(:last-child) {
            margin-bottom: 2.34rem;
            @media (max-width: 768px) {
                margin-bottom: 0.4rem;
            }
        }
    }
    // .favorite-block__seasons

    &__seasons {
    }
}

.seasons-block {

    // .seasons-block__body
    // margin-bottom: 2.3rem;
    &__body {
        
        margin-bottom: 2.4rem;
        @media (max-width: 768px) {
            position: sticky;
            top: 0;   
            z-index: 20;
            background: white;
            padding: 2rem 0rem 2.4rem;
            margin-bottom: 0rem;
        }

    }

    // .seasons-block__item

    &__item {
        display: flex;
        column-gap: 4.15rem;
        cursor: pointer;
        @media (max-width: 742px) {
            row-gap: 1rem;
            flex-wrap: wrap;    
        }
        
        label{
            font-size: rem(20);
            @media (max-width: 742px) {
                flex: 1 0 33.33%;   
            }
            
            position: relative;
            min-width: 125px;
            input[type="radio"]{
                // display: none;
                position: absolute;
                width: 0;
                height: 0;
                opacity:0;
              }
            
            display: block;
            cursor: pointer;


            span{
                display: inline-flex;
                align-items: center;
                position: relative;
                transition: all 0.5s ease;
            }
            span.active{
                font-weight: bold;
                transition: all 0.5s ease;
            }
            span.active::after{
                transform: scale(1);
            }
            span::before{
                content:'';
                background: white;
                flex: 0 0 17px;
                width: 17px;
                height: 17px;
                border-radius: 50%;
                margin-right: 20px;
                box-shadow: inset 0 0 0 2px  black;
            }
            
            span::after{
                position: absolute;
                content:'';
                background: black;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                // top: 6.5px;
                left: 4.5px;
                transition: all 0.7s ease;
                transform: scale(0);
            }
            
        } 
        
    }
    // .seasons-block__library

    &__library {
    }
}

.library-block {
    // .library-block__body
    &__body {
        display: flex;
        flex-wrap: wrap;
        row-gap: 2.35rem;
        margin: 0px -1px;
        column-gap: 259px;
        @media screen and (max-width: 1430px)  {
        justify-content: space-between;
        padding-right: 39.5px;
        column-gap: 60px;
    }
    @media screen and (max-width: 1331px)  {
        justify-content: center;
    }
    @media screen and (max-width: 621px)  {
        padding-right: 0px;
    }
    }

    // .library-block__item

    &__item {

        flex: 1 1 50%;
        opacity: 1;
        transition: all 0.3s ease;
        max-width: 550px;
        height: rem(522);
        border: 1px solid #000;

        @media screen and (max-width: 1430px)  {
            flex: 1 1 100%;
        }
        @media screen and (max-width: 621px)  {
            height: auto;
        }

        &:nth-child(even){
            margin-right: 1.8em;
            @media screen and (max-width: 1430px)  {
                margin-right: 0em;
            }
        }
        &.fade-out{
            opacity: 0;
            transition: opacity 0.4s ease;
        }
       
    }
    &__column{
        padding: 0.8rem 1.1rem;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        position: relative;
        & img{ 
            transition: opacity 0.5s ease;
            opacity: 1;
            position: absolute;
            bottom: -0.5px;
            right: -40px;
            width: 11.875rem;
            height: 17.6rem;
        @media screen and (max-width: 621px)  {
            right: 0px;
            width: 4rem;
            height: 5rem;
            }
        }
      
        // & img.hide-image{ 
        //     opacity: 0;
        //     transition: opacity 0.5s ease;
        // }
    }

    // .library-block__title

    &__title {
        font-family: Forum;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 200% */
        letter-spacing: 2px;
        text-transform: capitalize;
        margin-bottom: rem(20);
        position: relative;
    
        &::before{
            content: '';
            position: absolute;
            bottom: -0.028rem;
            left: 0; 
            height: rem(1);
            width: 3.5rem;
            background-color:#BB945F;

        }
    }

    // .library-block__subtitle

    &__subtitle {
        margin-bottom: rem(20);
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 266.667% */
        letter-spacing: 2px;
        text-transform: uppercase;
    span{
         text-transform: capitalize;
    }       
}

    // .library-block__text

    &__text {
        font-size: rem(15);    
        font-weight: 400;
        line-height: 2.5em; /* 266.667% */
        letter-spacing: 0.1em;
        text-transform: capitalize;
        padding-right: 1.8125em;
        flex-grow: 1;
    }
    &__content{
        display: flex;
        align-items: flex-start;
        margin-bottom: rem(13.5);
        flex-grow: 1; 
        max-width: 390px;
        @media screen and (max-width: 621px)  {
            max-width: 100%;
        }
    
        // img{
        //     opacity: 1;
        //     transition: opacity 0.5s ease;
        //     transform: translate(-1.1rem, 4.6rem);
        //     width: 11.875rem;
        //     height: 17.6rem;
        // }
        // img.hide-image{
        //     opacity: 0;
        //     transition: opacity 0.5s ease;
        // }
    }

    // .library-block__btn

    &__btn {
        &.active-own{
            color:#BB945F;
        }
        // margin-bottom: rem(15);
    }
}

/*  COFFEE SECTION   */


.page {
    
    // .page__coffee

    &__coffee {
        &:not(:last-child){
            margin-bottom: 3.7rem;
        }
    }
}
.coffee-block {

    // .coffee-block__container

    &__container {
    }

    // .coffee-block__body

    &__body {
    }

    // .coffee-block__title


    // .coffee-block__subtitle

    &__subtitle {
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    line-height: 40px; 
    letter-spacing: 2px;
        &:not(:last-child){
            margin-bottom: 2.4rem;
        }
        @media (max-width: 768px) {
            & p:nth-child(2){
                @media (max-width: 768px) and (min-width:  700px) {
                    text-align: start;
                }
            }
        }
    }

    // .coffee-block__block

    &__block {
    }
}
.block-coffee {

    // .block-coffee__body

    &__body {
        display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        @media (max-width: $tablet) {
            row-gap: rem(40);
            flex-direction: column;
            // justify-content: center;
        }
        
    }
    

    // .block-coffee__column

    &__column {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
       
    }

    // .block-coffee__title

    &__title {
        color: #BB945F;
        font-family: Forum;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 100% */
        letter-spacing: 2px;
        text-transform: capitalize
    }

    // .block-coffee__item

    &__item {
        display: flex;
        flex-direction: column;
        row-gap: 2.3rem;
        
    }
}

.item-box {

    // .item-box__body

    &__body {
        display: flex;
        column-gap: 3.45rem;
        justify-content: space-between;
        min-width: 25rem;  
        @media (max-width: 520px) {
            min-width: auto;  
         }
    }
    

    // .item-box__naming

    &__naming {
        flex-grow: 1;
        color: #000;
        font-family: Inter;
        font-size: 20px;
        line-height: 40px; /* 200% */
        letter-spacing: 2px;
        text-transform: capitalize;
    }

    // .item-box__decor

    &__decor {
        display: flex;
        justify-content: center;
        @media (max-width: 520px) {
            display: none;
         }
        span {
          display: inline-block;
          width: 100px;
          height: 1px;
          background: #BB945F;
          align-self: center;
        }
        
      }

    // .item-box__price

    &__price {
        color: #000;
font-family: Forum;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
    }
}

    .column-right .item-box__body .item-box__naming,
    .column-right .block-coffee__title{
     display: flex;
     justify-content: flex-end;
     @media (max-width: 600px) {
        justify-content: start;
    }
    } 
    @media (max-width: $tablet) {
        .column-right {
            align-self: flex-end;
        }
        .column-left{
            align-self: flex-start;
        }
    }
    @media (max-width: 600px) {
        .column-right {
            align-self: stretch;
        }
        .column-left{
            align-self: stretch;
        }
    }


    /*  CONTACTS SECTION  */

    .page {

		// .page__contacts

		&__contacts {
            &:not(:last-child){
                margin-bottom: 3.5rem;
                @media(max-width: $tablet) {
                    margin-bottom: 3.67rem;
                }
            }
		}
}
.contacts-block {

		// .contacts-block__container

		&__container {
		}

		// .contacts-block__title

		&__title {
            // word-spacing: 0.3rem;
		}

		// .contacts-block__body

		&__body {
            display: flex;
            justify-content: space-between;
            align-items: start;
            @media (max-width: $tablet) {
                flex-direction: column;
                row-gap: 3.8rem;
            }
		}

		// .contacts-block__item

		&__item {
            width: 696px;
            height: 414px;
            @media (max-width: $tablet) {
                & img{
                    margin-left: 17px;
                    
                }
            }
            @media (max-width: 760px) {
                & img{
                    margin-left: 0px;
                    
                }
            } 
            @media (max-width: 740px) {
                width: auto;
                height: auto;
            }  
           
		}
        &__content{
            color: #000;
font-size: 20px;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;

            margin-right: 40px;
            div{
                span{
                font-weight: 700;
                }

            }
            div:first-child {
                &:has(span) {
                  margin-bottom: rem(39);
                }
              }
              div:nth-last-child(2):has(span) {
                &:has(span) {
                    margin-bottom: 1.2rem;
                }
              }
           
        }
        &__contacts{
            margin-bottom: 2.1rem;
            div{
                margin-bottom: rem(20);
            }
            & a:hover{
                color:#BB945F;
            }
        }
}

/*  CARDS SECTION   */

.page {

    // .page__cards
    &__cards {
        margin-bottom: 2.3rem;
    }
}
.cards-block {

    // .cards-block__container

    &__container {
        
    }

    // .cards-block__title

    &__title {
        &:not(:last-child){
            margin: 0rem 0rem 3.6rem;
        }
    }

    // .cards-block__body

    &__body {
        display: flex;
        justify-content: space-between;
        
        & .item-block-left{
                min-width: 35.4rem;
                @media (max-width: 645px) {
                    min-width: auto;
                }
            }
        & .item-block-right{
            max-width: 30rem;
            @media (max-width: 925px) {
                max-width: 35.4rem;
            }
        }
        @media (max-width: 925px) {
            flex-wrap: wrap;
            row-gap: 1.3rem;
            justify-content: center;
        }

    }
    &__item {
    }
}
.title {
}
.item-block {

    // .item-block__title

    &__title {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 0.6px;
            &:not(:last-child){
                margin-bottom: 1.98rem;
        }
    }

    &__subtitle{
        font-family: Forum;
        font-size: 30px;
        letter-spacing: 0.6px;
        }
        &__form-container{
           
        }
    &__body{
        border: 3px solid #BB945F;
        padding: 1.02rem;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        
    }
    // .item-block__form

    &__form {

       
    }

    // .item-block__content

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 2.2rem;
        padding: rem(0) rem(0) rem(0) rem(40);
        @media (max-width: $tablet) {
            padding: rem(0) rem(0) rem(0) rem(0);
            align-items: center;
        }
    }

    // .item-block__text

    &__text {
    flex-grow: 1;
    line-height: 40px; /* 200% */    
    letter-spacing: 0.4px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    text-align: end;
    @media (max-width: $tablet) {
        text-align: center;
        margin-top:4px;
    }
    }

    // .item-block__btns

    &__btns {
        // display: block;
        display: flex;
        column-gap: 1.2rem;
        margin-top: -4px;
        @media (max-width: $tablet) {
            margin-top: 2px;
        }

        &.item-block__btn{
            text-align: center;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1px;
        }
    }

    // .item-block__btn

    &__btn {

    }
}
.form {

    // .form__line

    &__line {   
        &:not(:last-child){
            margin-bottom: 1.1rem;
        }
        &:last-child{
            margin-bottom: rem(10);
        }
        
       
    }


    &__button{
                width: auto;
                height: auto;
                color: #0C0C0E;
                display: block;
                margin: 0 auto;
                border: 1px solid #0C0C0E;
                background-color: #fff;
                padding: 9px 39px;
                font-size: 20px;
                line-height: normal;
                letter-spacing: 1px;
                transition: all 0.4s ease 0s;
                border-radius: 2px;
                font-weight: 700;
    }
    
    &__box{
        background: #BB945F;
        padding: 20px;
    }
    &__item{
        &:nth-child(1){
            margin-bottom: 1.5rem;
        }
        &:nth-child(2){
            margin-bottom: 0.4rem;
        }
    }
    // .form__label

    &__label {
        display: block;
        font-family: Forum;
        font-size: 30px;
        line-height: 50px; /* 166.667% */
        letter-spacing: 0.6px;
        position: relative;
       
        @media (max-width: 420px) {
            font-size: 25px;
        }
        &.visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border: 0;
          } 
             &:not(:last-child){
                 margin-bottom: rem(20);
                }  
                
    }

    // .form__input

    &__input {
        width: 100%;
        min-height: 3.8rem;
        border-radius: 10px;
        background: #FFF;
        padding: 8px 20px;
        color: #BB945F;
        font-size: 30px;
        font-family: Forum;
        font-size: 30px;
        &::placeholder{
            color: #8E8E8E;
            font-family: Forum;
        font-size: 30px;
        line-height: 50px; /* 166.667% */
        letter-spacing: 0.6px;
        @media (max-width: 645px) {
            font-size: 25px;
        }
        }
        @media (max-width: 645px) {
            min-height: 3rem;
            font-size: 25px;
        }
    }

    // .form__button

    
}

.btn {
}


// POPUP MODAL
.popup {
    position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left:0;
	opacity: 0;
	visibility: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	transition: all 0.4s ease;
    pointer-events: none;
    backdrop-filter: blur(3px);
    z-index: 10;

		// .popup--login__wrapper

		&__wrapper {

			min-height: 100%;
			// display: flex;
			// justify-content: center;
			// align-items: center;

		}

		// .popup--login__body

		&__content{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
			width: 250px;
			min-height: 262px;
			background-color: #FFFFFF;
			color:#000000;
			line-height: 20px; 
			padding: 20px 25px;
			// position: relative;
            transition: all 0.5s ease;
			// transform: translate(0px, -200px);
		}
			&__close{
				position:absolute;
				top: rem(15);
				right: rem(15);
				width: 15px;
				height: 15px;
				background: url("@img/svg/close_btn.svg") no-repeat center center;
			}

		// .popup--login__title

		&__title {
			text-align: center;
			font-family: Forum;
			font-size: 20px;
			line-height: 20px; /* 100% */
			letter-spacing: 0.4px;
			text-transform: uppercase;
			&:not(:last-child){
				margin-bottom: 20px;
			}
		}

		// .popup--login__close


		// .popup--login__form

		&__form {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			row-gap: rem(10);
			// justify-content: flex-start;

		}

		// .popup--login__line

		&__line {
            &.error input{
                border: 1px solid red;
            }
            &.success input{
                border: 1px solid #9bd692;
            }

            position: relative;
            display: block;
            transform: translate(0, 0);
            opacity: 1;
            visibility: visible;
            height: 100%;
            transition: all 0.7s ease;
            height: 100%;
			& > button{
				margin-top:rem(7);
			}
		&.line-last{
			display: flex;
			justify-content: space-between;
			align-items: center;
			column-gap: rem(10);
		}
	}


		// .popup--login__item

		&__item {
		}

		// .popup--login__label

		&__label {
		display: block;
		font-size: 15px;/* 133.333% */
		letter-spacing: 0.3px;
		margin-bottom: 10px;

	}

		// .popup--login__input

		&__input {
			width: 200px;
			height: 20px;
			border: 1px solid #BB945F;
        	background: #FFF;
        	padding: 1px 5px;
            font-size: 0.75rem;
            
            
		}
        &__error{
            color: red;
            transform: scale(1);
            height: auto;
            font-size: 0.75rem;

            &.hidden{
            transform: scale(0);
            transition: all 0.5s ease;
            height: 0px;
        }
        }
		// .popup--login__button

		&__button {
			
		}
		&__text{
			flex-grow: 1;
			text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
			font-family: Inter;
			font-size: rem(10);
			font-weight: 400;

		}
		&__link{
			text-align: center;
			font-family: Inter;
			font-size: rem(10);
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 1px;
			text-decoration-line: underline;
		}
}
.button {
}
.popup.open{
	opacity: 1;
	visibility: visible;
    pointer-events: auto;
}
// .popup.open .popup__content{
// transform: translate(0px,0px);
// }
// POPUP MODAL