//====================================================================================================

.header {
	// .header__container
	font-weight: 400;
	background-color: #0C0C0E;
	color: #FFFFFF;

	&__container {
		min-height: 90px;
		display: flex;
		align-items: center;
		padding: 20px;
	}

	// .header__logo

	&__logo {
		h1{
			font-family: Forum;
			font-size: rem(30);
			&:hover{
				color: #BB945F;
			}
		}
	}

	// .header__menu

	&__menu {
		display: flex;
		flex: 1 1 auto;
		justify-content: flex-end;
		// padding-right: rem(40);
		@media (max-width: 1030px)  {
			align-items: center;
			column-gap: rem(40);
		}
	}
}
.menu {

	// .menu__icon
		
	&__icon {
	}

	// .menu__body

	&__body {
		display: flex;
		align-items: center;
		// padding-right: rem(40);
		// @include adaptiveValue("gap", 10, 15);
		@media (max-width: 1030px)  {
			background-color: #0C0C0E;
			position: fixed;
			// width: 43.3%;
			width: 332px;
			height: 71%;
			overflow: auto;
			top: 0;
			right: -100%;
			transition: right 0.5s linear 0s;
			padding-right: rem(0);
			align-items: stretch;
			z-index: 5;
			&::before{
				content: '';
				position: fixed;
				// width: 43.3%;
				width: 332px;
				height: 90px;	
				top: 0;
				right: -100%;
				transition: right 0.5s linear 0s;
				z-index: 2;
				background-color: #0C0C0E;
			}
			.menu-open & {
				right: 0;
				&::before{
					right: 0;
				}
			}
		}
		@media (max-width: 500px) {
			width: 100%;
			height: 100%;
		}
	}

	// .menu__list

	&__list {
		display: flex;
		@include adaptiveValue("column-gap", 30, 15);
		@media (max-width: 1030px) {
			padding: 5.8rem 0rem;
			flex-direction: column;
			align-items: center;
			width: 100%;
			row-gap:30px;
			margin-right: 6px;
			}
		}

	// .menu__item

	&__item {
		@media (max-width: 1030px) {
			position: relative;
			right: -100%;
			transition: right 0.5s ease;
			top: 0;
			.menu-open & {
				@for $i from 1 to 6{
					&:nth-child(#{$i}){
						transition-delay: 0.1*$i+s;
					}
				}
					right: 0;
				}
			}
	}

	// .menu__link

	&__link {
		font-family: Inter;
		font-size: 20px;
		line-height: math.div(50,14);
		letter-spacing: -0.02em;
		transition: all 0.5s ease;
		@media (max-width: 1030px) {
			line-height: 50px;
			}
		&:hover{
			color: #BB945F;
		}
	}

	// .menu__action

	&__action {
	}
}

.icon-menu {
	
}
.action--header {
    margin: auto 0;
	position: relative;
	z-index: 5;
	padding-left: rem(40);
	// .action--header__login
	@media (max-width: 1030px) {
		padding-left: 0rem;
	}

	&__login {
		
	}

	// .action--header__icon
	span{
		&.loggedIn{
		display: inline-flex;
		background-color: #FFFFFF;
		border-radius: 50%;
		color:#BB945F;
		width: 28px;
		height: 28px;
		align-items: center;
		justify-content: center;
		font-size: 15px;
		}
		display: none;

	}
	&__icon {
		&.loggedIn{
			display: none;
		}
		&:hover{
		filter:invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%)
		}
		
	}
	

	& .profile {
		position: absolute;
		top:rem(40);
		right: 0;
		width: 80px;
		height: 115px;
		background-color: #FFFFFF;
		padding: 5px 4px;
		&::before{
			bottom: 99%;
			left: 84%;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border: 7.5px solid transparent;
			border-bottom-color: #fff;
			margin-left: -12px;
		}
		&.profile--loggedin{
			// display: none;
			opacity: 0;
			transition: opacity 0.9s ease-in-out;
			visibility: hidden;
		}
		&.profile--login{
			// display: none;
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.9s ease-in-out;
		}
		&.activate{
			// display: block;
			opacity: 1;
			transition: opacity 0.9s ease-in-out;
			visibility: visible;
		}
		& li:first-child{
			&::after {
				content: '';
				position: absolute;
				align-items: center;
				top: 30px;
				left: calc(50% - 1.178rem);
				height: 0.059rem;
				width: 2.356rem;
				background-color: #BB945F;
			  }
		}
	// .profile__list
			&__list {
				color: #000000;
				text-align: center;
				font-family: Inter;
				font-size: 15px;
				margin-bottom: 10px;
					&:first-child {
						margin-bottom: 20px;
					  a {
						position: relative;
						font-weight: 700;
					  }
				  }
	}
}
}


//====================================================================================================

//Burger

.icon-menu{
	display: none;
	@media (max-width: 1030px) {
		display: block;
		position: relative;
		width: 45px;
		height: 20px;
		z-index: 5;
		transition: width 0.5s linear 0s;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: white;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			// &.icon-menu{
				// width: 32px;
				// height: 32px;
				// transform: translate(6px);
				// transition: width 0.5s linear 0s;
			// }
			span {
				width: 0;
			}
			&::before,
			&::after {
				width: 100%;
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

