@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


[class*="__container"] {
    max-width: 850px;
    padding: 0px 20px;
    margin: 0 auto;
}

body {
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: 400;
    color: #424551;

}

.title {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    align-items: center;
    color: #1E212C;
}

.main__title:not(:last-child) {
    margin-bottom: 60px;
}

.main__image:not(:last-child) {
    margin-bottom: 60px;
}

.main__article {
    margin-bottom: 60px;
}

.main__text--bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #1E212C;
}

.main__text.bold:not(:last-child) {
    margin-bottom: 24px;
}

.main__text {
    line-height: 1.6;
    min-height: 16px;
}

.main__text:not(:last-child) {
    margin-bottom: 94px;
}

.main__text p:not(:last-child) {
    margin-bottom: 24px;
}

.main__quoate {
    background: url('../img/braces.jpg') top left no-repeat;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #1E212C;
    padding-left: 58px;

}

.main__quoate:not(:last-child) {
    margin-bottom: 10px;
}

ul.main__text:not(:last-child) {
    line-height: 1.6;
    margin-bottom: 24px;
}

ul.main__text li::before {
    display: inline-block;
    content: '';
    background: url('../img/check.svg') 0 1px no-repeat;
    line-height: 1.8;
    width: 16px;
    height: 16px;
    margin-right: 16px;
    margin-left: -32px;
}

.main__text li {
    padding-left: 32px;
    line-height: 1.6;
}

.main__text ul li:hover::before {
    transition: all 0.5s ease 0s;
    transform: rotate(-360deg);
}

.main__text li:not(:last-child) {
    margin-bottom: 4px;
}

.createx__container {
    max-width: 1270px;
    padding: 0px 20px;
    margin: 0 auto;
}


.createx__item {}

.createx__about {
    display: flex;
    margin-bottom: 180px;
}

.item__columns {
    margin-left: 134px;
}

.item {}

.item__image {
    background: url('../img/image2.jpg') 0 0 no-repeat;
    width: 705px;
    height: 560px;
    background-size: cover;
}

.subtitle {
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
}

.item__subtitle:not(:last-child) {
    margin-bottom: 8px;
}

.item__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: #1E212C;
}

.item__title:not(:last-child) {
    margin-bottom: 40px;
}

.item__list li {
    line-height: 1.6;
    margin-left: 32px;
    min-height: 20px;
}


.item__list li:not(:last-child) {
    margin-bottom: 4px;
}

.item__list li::before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    background: url('../img/check.svg') 0 2px no-repeat;
    margin-left: -32px;
    margin-right: 16px;
}

.item__list li:hover::before {
    transition: all 0.5s ease 0s;
    transform: rotate(360deg);
}

.item__list:not(:last-child) {
    margin-bottom: 48px;
}

.item__button {
    width: 161px;
    height: 44px;
    color: white;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}

.button {
    border-radius: 4px;
    letter-spacing: 0.5px;
    line-height: 44px;
}

/* courses */
.createx__courses {
    margin-bottom: 180px;
}

.createx__subtitle {
    margin-bottom: 8px;
}


.createx__body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.createx__button {
    width: 202px;
    height: 52px;
    color: #FF3F3A;
    background: white;
    border: 1px solid #FF3F3A;

}


.box__body {
    display: flex;
    gap: 30px;
}

.box__item {
    display: flex;
    gap: 30px;
}

.box__item:not(:last-child) {
    margin-bottom: 30px;
}

.box__card {
    display: flex;
    border: 1px solid #E5E8ED;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    width: 600px;
}


.card__image {
    width: 214px;
    height: 214px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}


.card__image--1 {
    background: url('../img/card1.jpg') no-repeat;

}

.card__image--2 {
    background: url('../img/card2.jpg') no-repeat;

}

.card__image--3 {
    background: url('../img/card3.jpg') no-repeat;

}

.card__image--4 {
    background: url('../img/card4.jpg') no-repeat;

}

.card__image--5 {
    background: url('../img/card5.jpg') no-repeat;

}

.card__image--6 {
    background: url('../img/card6.jpg') no-repeat;
}

.card__content {
    margin: 32px 0px 0px 32px;
}

.card__flag {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: white;
    margin-bottom: 20px;
    padding-left: 8px;
}

.card__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 20px;
}

.price {
    color: red;
}

.author {
    font-size: 18px;
    line-height: 1.5;
    color: #787A80;
}

.card__flag-green {
    width: 79px;
    height: 23px;
    background: #03CEA4;
    border-radius: 4px;
}

.card__flag--orange {
    width: 112px;
    height: 23px;
    background: #F89828;
    border-radius: 4px;
}

.card__flag--blue {
    width: 97px;
    height: 23px;
    background: #5A87FC;
    border-radius: 4px;
}

.card__flag--pink {
    width: 59px;
    height: 23px;
    background: #F52F6E;
    border-radius: 4px;
}


.createx__subtitle-benefits {
    text-align: center;
    margin-bottom: 8px;
}

.createx__title-benefits {
    text-align: center;
    margin-bottom: 60px;
}

.createx__tabs-benefits {
    display: flex;
    margin-bottom: 60px;
}


.createx__tab-benefits-tab {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #9A9CA5;
    width: 307px;
    height: 46px;
    padding-top: 8px;
}

.createx__tab-benefits-tab.active {
    color: #FF3F3A;
    border: 1px solid #FF3F3A;
    border-radius: 5px;
}

.createx__tab-benefits-tutors::before {
    display: inline-block;
    content: '';
    background: url('../img/Star.svg') 0 1px no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;

}

.createx__tab-benefits--feedback::before {
    display: inline-block;
    content: '';
    background: url('../img/like.svg') 0 1px no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.createx__tab-benefits--library::before {
    display: inline-block;
    content: '';
    background: url('../img/Layouts.svg') 0 1px no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.createx__tab-benefits--community::before {
    display: inline-block;
    content: '';
    background: url('../img/Vector.svg') 0 1px no-repeat;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    margin-right: 8px;
}


.createx__block-benefits {
    display: flex;
}

.createx__context-benefits {
    margin-top: 122px;
    width: 495px;
}

.createx__sub-title-benefits {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.3;
    color: #1E212C;
    margin-bottom: 24px;

}

.createx__text-benefits {
    line-height: 1.6;
    color: #424551;
}


.createx__image-benefits {
    background: url('../img/illustration.svg');
    width: 600px;
    height: 440px;
    margin-left: 135px;
}