@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

[class*="__container"] {
    max-width: 810px;
    padding: 0px 20px;
    margin: 0 auto;
}

body {
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: 400;
    color: #424551;
}

.main__context,
.main__context-2 {
    margin-bottom: 40px;
}

.main__context h1 {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: #1E212C;
}

.main__context h1:not(:last-child) {
    margin-bottom: 40px;
}

.main__context p {
    line-height: 1.6;
}

.main__context p:not(:last-child) {
    margin-bottom: 48px;
}

.main__context p.main__list-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.5;
    color: #1E212C;
}

.main__context p.main__list-title:not(:last-child) {
    margin-bottom: 24px;
}

.main__context ul:not(:last-child) {
    margin-bottom: 40px;
}


.main__context ul li:not(:last-child) {
    margin-bottom: 4px;
}

.main__context li {
    padding-left: 32px;
}

span {
    color: red;
    text-transform: uppercase;
}

ul li:not(:last-child) {
    margin-bottom: 4px;
}

ul li ul {
    margin-top: 4px;
}

.main__context li::before {
    display: inline-block;
    content: '';
    line-height: 1.6;
    background: url('../img/check.svg') 0 1px no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 16px;
    margin-left: -32px;
}

.main__context ul li:hover::before {
    transition: all 0.5s ease 0s;
    transform: rotate(-360deg);

}

ul ul {
    display: none;
}

ul li:hover ul {
    display: block;
}

.main__context-2 h2:not(:last-child) {
    margin-bottom: 16px;

}

.main__context-2 h2 {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: #1E212C;
}

.main__context-2 p.main__subtitle {
    font-size: 20px;
    line-height: 1.5;
    color: #787A80;
}

.main__context-2 p.main__subtitle:not(:last-child) {
    margin-bottom: 32px;
}

.main__context-2 p.remark {
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}

.main__context-2 p.remark:not(:last-child) {
    margin-bottom: 8px;
}

.main__context-2 ul li.star::before {
    display: inline-block;
    content: '';
    margin-right: 8px;
    background: url('../img/Star.svg') 0 0 no-repeat;
    width: 16px;
    height: 16px;
}

.main__context-2 ul li.play::before {
    display: inline-block;
    content: '';
    margin-right: 8px;
    background: url('../img/Play.svg') 0 0 no-repeat;
    width: 16px;
    height: 16px;
}

.main__context-2 ul li.person::before {
    display: inline-block;
    content: '';
    margin-right: 8px;
    background: url('../img/Person.svg') 0 0 no-repeat;
    width: 16px;
    height: 16px;
}


.main__context-2 ul li:hover::before {
    transition: all 0.5s ease 0s;
    transform: scale(2);
}

.main__context-2 ul li:not(:last-child) {
    margin-bottom: 4px;
}

.main__context-2 ul {
    margin-bottom: 32px;
}

.main__context-2 p {
    line-height: 1.6;
}

.main__context-2 a:hover p.remark {
    text-transform: lowercase;
    color: aqua;
}

.main__context-2 a:visited p.remark {
    color: purple;
}

.main__context-2 a:focus p.remark {
    color: green;
}

.main__context-3 div:nth-child(1) {
    border: 1px solid orange;
    width: 100%;
    height: 450px;
    background: url('https://raw.githubusercontent.com/Aphness007/stage1-tasks/assets/images/evening/08.jpg') top center / 100px no-repeat, url('https://raw.githubusercontent.com/Aphness007/stage1-tasks/assets/images/evening/06.jpg') center / 350px no-repeat, url('https://raw.githubusercontent.com/Aphness007/stage1-tasks/assets/images/evening/05.jpg') bottom left / 250px no-repeat, url('https://raw.githubusercontent.com/Aphness007/stage1-tasks/assets/images/evening/03.jpg') bottom right / 150px no-repeat, url('https://raw.githubusercontent.com/Aphness007/stage1-tasks/assets/images/evening/02.jpg') top right / 190px no-repeat, url('https://raw.githubusercontent.com/Aphness007/stage1-tasks/assets/images/evening/01.jpg') 0 0 / 120px no-repeat;
}

.main__context-3 div:nth-child(4) {
    border: 1px solid orange;
    width: 100%;
    height: 450px;
    background: url('https://raw.githubusercontent.com/Aphness007/stage1-tasks/assets/images/evening/10.jpg') 50% / cover no-repeat;
}

.main__context-3 div:nth-child(3) {
    border: 1px solid orange;
    width: 100%;
    height: 450px;
    background: rgb(46, 114, 177) url('https://raw.githubusercontent.com/Aphness007/stage1-tasks/assets/images/evening/11.jpg') center / contain no-repeat;
}

.main__context-3 div:nth-child(2) {
    border: 1px solid orange;
    width: 100%;
    height: 450px;
    background: rgb(46, 114, 177) url('https://raw.githubusercontent.com/Aphness007/stage1-tasks/assets/images/evening/12.jpg') center / auto 200px no-repeat;
    background-attachment: fixed;
}

.main__context-3 div:not(:last-child) {
    margin-bottom: 40px;
}

.main__context-3 {
    margin-bottom: 40px
}

.main__context-3 div:nth-child(5) {
    border: 1px solid orange;
    width: 100%;
    height: 450px;
    background: rgb(46, 114, 177) url('https://raw.githubusercontent.com/Aphness007/stage1-tasks/assets/images/evening/12.jpg') 0 0 / 260px repeat;
}

.header__container div,
.footer__container div:last-child {
    border: none;
    width: 100%;
    height: 450px;
    background: linear-gradient(to bottom, #a7cfdf 0%, #23538a 100%);
}

.header__container div {
    height: 150px;
    margin-bottom: 40px;
}

.main__context-4 div:not(:last-child) {
    margin-bottom: 40px;
}

.header__container,
.footer__container {
    max-width: 100%;
    padding: 0px;
}

.main__context-game {
    max-width: 1000px;
    height: 600px;
    border: 1px solid #66b6d2;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: inset 2px 2px 8px #165a72, 2px 2px 8px #66b6d2;
    margin: 0 auto;
    padding: 0 30px;
    background: #a8d5e5;
    margin-bottom: 40px;
}


.game-path1,
.game-path7 {
    text-transform: uppercase;
    color: orange;
    border-radius: 25px;
    background: #1e7898;
    width: 80px;
    height: 45px;
    box-shadow: inset 5px 5px 5px black, 5px 5px 5px black;
    padding-top: 12px;
    text-align: center;
}

.game-path7 {
    margin-left: 550px;
}

.game-path2 {
    background: url('../img/Star.svg') repeat, #134b5f;
    height: 240px;
    margin-left: 20px;
    width: 40px;
    visibility: hidden;
}

.game-path3 {
    background: #134b5f;
    height: 30px;
    width: 300px;
    margin-left: 20px;
    visibility: hidden;
}

.game-path4 {
    background: #134b5f;
    height: 25px;
    width: 15px;
    margin-left: 305px;
    visibility: hidden;
}

.game-path5 {
    background: #134b5f;
    height: 25px;
    width: 300px;
    margin-left: 305px;
    visibility: hidden;
}

.game-path6 {
    background: #134b5f;
    height: 85px;
    width: 30px;
    margin-left: 575px;
    visibility: hidden;
}

.game-path1:hover,
.game-path1:hover+.game-path2 {
    visibility: visible;
    text-shadow: 2px 2px 2px rgb(54, 19, 73);
}


.game-path2:hover,
.game-path2:hover+div {
    visibility: visible;
}

.game-path3:hover,
.game-path3:hover+div {
    visibility: visible;
}

.game-path4:hover,
.game-path4:hover+.game-path5 {
    visibility: visible;
}

.game-path5:hover,
.game-path5:hover+.game-path6 {
    visibility: visible;
}

.game-path6:hover {
    visibility: visible;
}

ul li:nth-child(odd) {
    color: rgb(46, 114, 177);

}

ul li:nth-child(even) {
    color: rgb(65, 3, 99);
}

.section1 {
    background: url('https://raw.githubusercontent.com/Aphness007/stage1-tasks/assets/images/afternoon/12.jpg');
    height: 800px;
    margin-bottom: 40px;
}

.main__container-2-1 h1 {
    padding-top: 40px;
    color: orangered;
    text-shadow: 2px 8px 10px rgb(86, 28, 7);
}

.main__container-2-1 p {
    color: orangered;
    text-shadow: 2px 8px 10px rgb(86, 28, 7);
}

.circle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: orangered;
    margin-left: 350px;
    box-shadow: inset 2px 2px 10px rgb(86, 28, 7), 10px 10px 10px rgb(86, 28, 7);
}


.main__container-2-1 h2 {
    display: inline-block;
    color: yellow;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    text-align: right;
    text-transform: uppercase;
    margin: 20px 0px 40px 0px;
    text-align: center;
}

.main__container-2-1 span {
    color: white;
}

.section__body {
    position: relative;
    background: lightskyblue;
    height: 800px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid transparent;
    border-image: linear-gradient(95deg, #ff0, #f0f, #f00, #00f, #0f0);
    border-image-slice: 1;
    background: linear-gradient(-55deg, #ddd152, lightskyblue);
    background-size: 400%;
}


.card {
    position: relative;
    width: 400px;
    height: 500px;
    background: rgb(41, 41, 243);
    margin: 40px;
    border-radius: 40px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: 0px 12px 0px white, inset 0px -15px 0px rgb(255, 255, 255, 0.25), 0px 45px 0px rgb(0, 0, 0, 0.15);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.card::before {
    content: '';
    position: absolute;
    top: -140px;
    left: -40%;
    width: 100%;
    height: 120%;
    transform: rotate(35deg);
    background: linear-gradient(95deg, transparent, rgb(255, 255, 255, 0.5));
    filter: blur(5px)
}

.card:nth-child(1) {
    background: linear-gradient(to bottom, #ef5de7, #872def);
}

.card:nth-child(2) {
    background: linear-gradient(to bottom, #4b9ef1, #3265e6);
}

.icon {
    position: relative;
    width: 140px;
    height: 120px;
    background-color: lightskyblue;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: inset 0px -8px 0px white, 0px 15px 0px rgb(0, 0, 0, 0.15);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon::before {
    content: '';
    width: 50px;
    height: 50px;
    top: 0;
    left: -50px;
    background-color: transparent;
    border-top-right-radius: 60px;
    box-shadow: 15px -15px 0 15px lightskyblue;
    position: absolute;

}

.icon::after {
    content: '';
    width: 50px;
    height: 50px;
    top: 0;
    left: 140px;
    background-color: transparent;
    border-top-left-radius: 60px;
    box-shadow: -15px -15px 0 15px lightskyblue;
    position: absolute;

}

img.icon-icon {
    width: 80px;
    height: 80px;
    position: relative;
    top: -20px;
    left: 0;

}

.context {
    position: absolute;
    width: 100%;
    padding: 150px 20px 0px 20px;
    text-align: center;
}

.context h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.context span {
    text-transform: uppercase;
    font-weight: 900;
    color: yellowgreen;
}

.section3 {
    background: linear-gradient(25deg, red, black);
    margin-bottom: 40px;
    background-size: 150px;
}

.section3 .section__row {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 .sec__card {
    position: relative;
    width: 400px;
    height: 400px;
    background: rgb(50, 26, 45);
    border-radius: 20px;
    margin: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.section3 .sec__card:nth-child(1):hover {
    border-bottom-left-radius: 100px;
}

.section3 .sec__card:nth-child(2):hover {
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.section3 .sec__card:nth-child(3):hover {
    border-bottom-right-radius: 100px;

}


.section3 .sec__card h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 46px;
    color: white;
    position: absolute;
    z-index: 10;
    text-shadow: 2px 2px 2px #000;
    overflow: hidden;
}

.section3 .sec__card h2:hover {
    transition: all 0.5s ease 0s;
    transform: scale(1.5);
}

.section3 .sec__card::before {
    position: absolute;
    content: '';
    width: 100px;
    height: 120%;
    background: linear-gradient(40deg, #f00, #f0f, #ff0, #0f0);
    animation: animate 4s linear infinite;
}

.section3 .sec__card:nth-child(2)::after {
    border-bottom-right-radius: 100px;
}

.section3 .sec__card:nth-child(3)::after {
    border-radius: 20px;
    border-bottom-right-radius: 100px;

}

.section3 .sec__card::after {
    content: '';
    position: absolute;
    background: linear-gradient(25deg, red, rgb(57, 28, 246));
    inset: 4px;
    border-radius: 16px;
    border-bottom-left-radius: 100px;

}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}